@model QRMenuManagementSystem.Areas.Admin.Models.Customer

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <input asp-for="CustomerId" class="form-control" />
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CustomerActive" /> @Html.DisplayNameFor(model => model.CustomerActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CustomerQrCode" class="control-label"></label>
                <input asp-for="CustomerQrCode" class="form-control" />
                <span asp-validation-for="CustomerQrCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerAuthApiKey" class="control-label"></label>
                <input asp-for="CustomerAuthApiKey" class="form-control" />
                <span asp-validation-for="CustomerAuthApiKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerDatabaseSecret" class="control-label"></label>
                <input asp-for="CustomerDatabaseSecret" class="form-control" />
                <span asp-validation-for="CustomerDatabaseSecret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerBasePath" class="control-label"></label>
                <input asp-for="CustomerBasePath" class="form-control" />
                <span asp-validation-for="CustomerBasePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
@*            <div class="form-group">
                @Html.ActionLink("Delete", "Delete", new {  id=Model.CustomerId  })
            </div>*@
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home" asp-area="Admin">Back to List</a>
</div>